In [2]:
import pandas as pd
import spacy
from nltk.corpus import stopwords
import re

In [3]:
tweet_df= pd.read_csv('clean_dataset.csv')
tweet_df

                                                  Text
0    RT Reliance Industries Ltd RIL to invest 6 tri...
1    RT We thank Reliance Industries Ltd for presen...
2    India Reliance Industries to acquire stake in ...
3    Reliance New Energy to invest Rs 50 16 crore i...
4    Company News Reliance Industries Analyst Meet ...
..                                                 ...
419  Some of the prominent players in the global EV...
420  Bosch Ltd 2 56 today Good volumes Looks like r...
421  Huis Ten Bosch Co Ltd Business from February 1...
422  Companies which have joined the Free Kashmir p...
423  RT Bosch Pharmaceuticals FB Username Bosch Pha...

[424 rows x 1 columns]

In [4]:
tok=''
for i in tweet_df['Text']:
    i= i.lower()
    tok+=i

In [5]:
tok= re.sub('[^a-zA-Z]', ' ',tok)                   #Creating a string after removing all special chars like , '', ""

In [6]:
nlp= spacy.load('en_core_web_lg')

In [7]:
tokens= nlp(tok)                    #tokenize

In [8]:
lst_tokens_lemma= []                #creating a list to store the lemmatized tokens
for token in tokens:
    lst_tokens_lemma.append(token.lemma_)

In [11]:
all_stopwords= stopwords.words('english')
print(all_stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [12]:
remove_stop=['no', 'nor', 'not', "don't", "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
for i in remove_stop:
    all_stopwords.remove(i)
#Removing negative semantic words from stopword list

In [14]:
for stop in all_stopwords:
    if stop in lst_tokens_lemma:
        lst_tokens_lemma.remove(stop)           #removing stop words