In [1]:
import pandas as pd

In [2]:
df_tweet= pd.read_excel('Stock_Tweets.xlsx')

In [3]:
df_tweet.head()

                    id                                               text
0  1491305850472132609  It's a very wonderful project !!!! I feel avan...
1  1491305849100197889  The @ExtendXYZ Genesis NFT Space Whitelist is ...
2  1491305846990848000  RT @5ireChain: #5ire is pleased to announce ou...
3  1491305842553290752  RT @JimmyHope_: @CallMeMatt By buying $OOE wit...
4  1491305841668272130  RT @AsiaNews_FR: La #CorÃ©eduNord ðŸ‡°ðŸ‡µ finance so...

In [4]:
df_tweet.columns

Index(['id', 'text'], dtype='object')

In [5]:
import re

In [7]:
tweet_text= df_tweet['text']
print(type(tweet_text))

<class 'pandas.core.series.Series'>

In [39]:
print(tweet_text[6])

RT @MichaelPascoe01: Michael Pascoe: The timing of the Biloela family's release is being delayed for political theatre, the staging of a â€œLâ€¦

In [62]:
text= tweet_text[6]

In [48]:
user_pattern= re.compile(r'@\w+')
re.findall(user_pattern, text)

['@MichaelPascoe01']

In [42]:
hashtag_pattern= re.compile(r'#\w+')
re.findall(hashtag_pattern, text)

[]

In [43]:
url_patt= re.compile('(?:(?:https?|ftp):\/\/)?[\w/\-?=%.]+\.[\w/\-&?=%.]+')
re.findall(url_patt, text)

[]

In [44]:
RT_pat= re.compile('RT')
re.findall(RT_pat, text)

['RT']

In [56]:
re.findall(r'\W+', text)
special_char_patt= re.compile(r'\W+')

In [68]:
pat_list= [hashtag_pattern, url_patt, user_pattern, RT_pat]

In [71]:
def remove_chars(text):
    for i in pat_list:
        text= re.sub(i, '', text)

In [72]:
text= re.sub(special_char_patt, ' ', text)

In [73]:
text

' Michael Pascoe The timing of the Biloela family s release is being delayed for political theatre the staging of a L '