In [9]:
import pandas as pd
import requests
import time
dr = pd.read_excel('list.xlsx') # can also index sheet by name or fetch all sheets
words = dr['Companies'].tolist()
bearer_token = "AAAAAAAAAAAAAAAAAAAAADspYwEAAAAAXTXUxOKW3JveQfKyFiFjK9H6p8w%3DWP6jvOIyOgrPvnivehDI5x5plcGS44OHyt1pK4XJFI9pa49rVn"
headers = {"authorization": "Bearer "+bearer_token}

rsk= pd.DataFrame()

def get_data(tweet):
    data = {
        'id': tweet['id'],
        'text': tweet['text']
    }
    return data
di = dict()
old = dict()    

r=1

def nex_twe(rsk, headers, word,j,r):
    r= r+1
    url = f"https://api.twitter.com/2/tweets/search/recent?query={word}&max_results=100&next_token={j}"
    response = requests.get(url, headers=headers).json()
    di[r]=response
    r=r+1
    time.sleep(6)
def nex_nex_twe(rsk, headers, word,j,r):
    r=r+1
    url = f"https://api.twitter.com/2/tweets/search/recent?query={word}&max_results=100&since_id={j}"
    response = requests.get(url, headers=headers).json()
    di[r]=response
    r=r+1
    time.sleep(6)
        
def twe(rsk, headers, words):
    df = pd.DataFrame()
    
    for word in words:
        l =word.split(' ', 1)[0]
        url = f"https://api.twitter.com/2/tweets/search/recent?query={word}&max_results=50"
        response = requests.get(url, headers=headers).json()
        di[r]=response
        time.sleep(6)        
        try:
            j=response['meta']['next_token']
            nex_twe(rsk, headers, word,j,r)
        except:
            j = response['meta']['oldest_id']
            nex_nex_twe(rsk, headers, word,j,r)

In [10]:
twe(rsk, headers, words)

KeyError: 'oldest_id'

In [11]:
import pandas as pd
import requests
import time
df= pd.DataFrame()

In [22]:
for k,v in di.items():
    for key in v:
        if(key=='data'):
            l=(v[key])
            new = pd.DataFrame.from_dict(l)
            df=df.append(new, ignore_index=True)

In [23]:
df

                       id                                               text
0     1492479429318111236  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
1     1492479236065853440  #CBI has filed a case against ABG Shipyard Ltd...
2     1492478531162411010  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
3     1492478255173017602  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
4     1492453639583010820  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
...                   ...                                                ...
1254  1493603713805598720  RT @eicvsfascism: Marcos Jr’s biggest red flag...
1255  1493603868835467274  RT @eicvsfascism: Marcos Jr’s biggest red flag...
1256  1493603752661692420  RT @PJ82856: @Numbers28 They're also liable fo...
1257  1493603868835467274  RT @eicvsfascism: Marcos Jr’s biggest red flag...
1258  1493603938406436867  @BryanJThomas2 @rabblerouser101 @TelBabe Did y...

[1259 rows x 2 columns]

In [ ]:
df.to_csv('file2.csv')

In [26]:
df.drop_duplicates()

                       id                                               text
0     1492479429318111236  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
1     1492479236065853440  #CBI has filed a case against ABG Shipyard Ltd...
2     1492478531162411010  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
3     1492478255173017602  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
4     1492453639583010820  RT @kothariabhishek: .@CNBCTV18Live\nMSCI\nWei...
...                   ...                                                ...
1209  1493603616195846148  Tense negotiations between the Kremlin and Wes...
1230  1493603713805598720  RT @eicvsfascism: Marcos Jr’s biggest red flag...
1241  1493603752661692420  RT @PJ82856: @Numbers28 They're also liable fo...
1255  1493603868835467274  RT @eicvsfascism: Marcos Jr’s biggest red flag...
1258  1493603938406436867  @BryanJThomas2 @rabblerouser101 @TelBabe Did y...

[117 rows x 2 columns]

In [ ]:
df  = pd.read_csv("file2.csv")

In [27]:
df_clean = pd.DataFrame()
import re
for x in df['text']:
    y=' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",x).split())
    d = pd.DataFrame([y])
    df_clean= df_clean.append(d,ignore_index=True)

In [28]:
df_clean

                                                      0
0     RT MSCI Weight increase decrease Name Total we...
1     CBI has filed a case against ABG Shipyard Ltd ...
2     RT MSCI Weight increase decrease Name Total we...
3     RT MSCI Weight increase decrease Name Total we...
4     RT MSCI Weight increase decrease Name Total we...
...                                                 ...
1254  RT Marcos Jr s biggest red flag on farmers Mas...
1255  RT Marcos Jr s biggest red flag on farmers Mas...
1256  RT They re also liable for bank losses attribu...
1257  RT Marcos Jr s biggest red flag on farmers Mas...
1258  Did you whip out the dictionary to use that wo...

[1259 rows x 1 columns]

In [ ]:
df_clean.to_csv('file3.csv', index=False)

In [29]:
df_clean.drop_duplicates()

                                                      0
0     RT MSCI Weight increase decrease Name Total we...
1     CBI has filed a case against ABG Shipyard Ltd ...
17    MSCI Weight increase decrease Name Total weigh...
18    Alaskans own 521 016 shares of Icici Bank Ltd ...
19    Wrong comparison Icici is a bank Here I m talk...
...                                                 ...
1069  Stocks to watch tomorrow 1 Vedl 2 Reliance 3 I...
1136  The global finance system is ok with mass blm ...
1137  MOTHER WITH DAUGHTER TwitterNatureCommunity wi...
1209  Tense negotiations between the Kremlin and Wes...
1258  Did you whip out the dictionary to use that wo...

[75 rows x 1 columns]

In [ ]:
df_clean = df_clean.drop_duplicates()
df_clean.to_csv('clean_dataset.csv', index=False)

In [ ]:
url = f"https://api.twitter.com/2/tweets/search/recent?query=NSE&max_results=100&since_id=1493548407662669828"
response = requests.get(url, headers=headers).json()

In [20]:
response

{'errors': [{'parameters': {'since_id': ['old']},
   'message': 'The `since_id` query parameter value [old] is not valid'}],
 'title': 'Invalid Request',
 'detail': 'One or more parameters to your request was invalid.',
 'type': 'https://api.twitter.com/2/problems/invalid-request'}

In [ ]:
response['meta']['oldest_id']

In [21]:
k = ""
d = dict()
url = f"https://api.twitter.com/2/tweets/search/recent?query=Reliance&max_results=30"    
response = requests.get(url, headers=headers).json()
di[r]=response
r=r+1
old = response['meta']['oldest_id']
for x in range(1,100):
    url = f"https://api.twitter.com/2/tweets/search/recent?query=Reliance&max_results=30&since_id={old}"    
    response = requests.get(url, headers=headers).json()
    di[r]=response
    r=r+1
    old = response['meta']['oldest_id']
    
    time.sleep(6)

KeyError: 'oldest_id'

In [ ]:
def nex_twe(rsk, headers, words,j):
    url = f"https://api.twitter.com/2/tweets/search/recent?query={word}&max_results=100&next_token={j}"
    response = requests.get(url, headers=headers).json()
    di[r]=response
    r=r+1
    time.sleep(6)