In [5]:
import pandas as pd
import requests
import time
dr = pd.read_excel('list.xlsx') # can also index sheet by name or fetch all sheets
words = dr['Companies'].tolist()
bearer_token = "AAAAAAAAAAAAAAAAAAAAADspYwEAAAAAXTXUxOKW3JveQfKyFiFjK9H6p8w%3DWP6jvOIyOgrPvnivehDI5x5plcGS44OHyt1pK4XJFI9pa49rVn"
headers = {"authorization": "Bearer "+bearer_token}

rsk= pd.DataFrame()

def get_data(tweet):
    data = {
        'id': tweet['id'],
        'text': tweet['text']
    }
    return data
di = dict()
    
def twe(rsk, headers, words):
    df = pd.DataFrame()
    r=1
    for word in words:
        l =word.split(' ', 1)[0]
        url = f"https://api.twitter.com/2/tweets/search/recent?query={word}"
        response = requests.get(url, headers=headers).json()
        di[r]=response
        r=r+1
        time.sleep(6)

In [6]:
twe(rsk, headers, words)

KeyboardInterrupt:

In [3]:
import pandas as pd
import requests
import time
df= pd.DataFrame()

In [ ]:
for k,v in di.items():
    for key in v:
        if(key=='data'):
            l=(v[key])
            new = pd.DataFrame.from_dict(l)
            df=df.append(new, ignore_index=True)

In [ ]:
df

In [54]:
df.to_csv('file2.csv')

In [ ]:
df.drop_duplicates()

In [7]:
df  = pd.read_csv("file2.csv")

In [8]:
df

,Unnamed: 0,id,text
0,0,1492034866820435972,RT @RisingBharat_: #Reliance Industries Ltd (R...
1,1,1492029443950661633,RT @cwacrpf: We thank Reliance Industries Ltd....
2,2,1492029019092512772,India: Reliance Industries to acquire stake in...
3,3,1492028782508527618,RT @RisingBharat_: #Reliance Industries Ltd (R...
4,4,1492026534672023552,RT @RisingBharat_: #Reliance Industries Ltd (R...
...,...,...,...
578,578,1491623120171843586,"Key News - DCB Bank Ltd, Jindal Steel and Powe..."
579,579,1491470573582831616,Companies which have joined the “Free Kashmir”...
580,580,1491445605599936513,RT @VoiceOfAxom: Bosch Pharmaceuticals\nFB Use...
581,581,1491445199419355141,RT @VoiceOfAxom: Bosch Pharmaceuticals\nFB Use...
582,582,1491441566090948611,Suven Pharmaceuticals Ltd\nJ.Kumar Infraprojec...